.container{
	margin-top: 20px;
	
}
header{
	box-shadow: 10px 10px 8px #888888;
	background-color: #dea298;
	opacity: 0.8;
}

.col-lg-8,.col-lg-4{	
	float: left;
	padding: 20px;
}
.col-lg-8{
	padding: 28px;
}

.logo{
	width: 100%;

}

#procura{
	float: right;
	width: 50%;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;

	
}
h1{
	margin-top: 30px;
	width: 100%;
	display: inline;
	padding-top: 40px;
	font-weight: 200;
}
.conteudo{
	padding-left: 20px;
}
#formulario input{
	cursor: pointer;
	margin-left: 10px;
	margin-right: 5px;
}

#botao{
	margin-bottom: 5px;
}
label{
	color: gray;
	font-weight: 600;
}
thead{
	background-color: #dedede;
}

th{
	border: 1px solid darkgray;
	padding: 10px;
	width: 300px;
	color: gray;
	font-weight: 600;	
	text-align: center;
}
td{
	padding: 5px;
	font-weight: 600;
	box-shadow: 0px 1px 1px #aeaeae;
	text-align: center;
}
tr:hover{
	background-color: #cecece;
	color: #000;
}